@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Red Hat Display', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    height: 100vh;
}